{% extends "templates/base.html" %}
{% block banner %}
    <h2>List of all clients</h2>
    <p></p>
    <a href="{% url 'create_clients' %}" class="btn">Create Client</a>
{% endblock %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>ID
            <th>First Name
            <th>Last Name
            <th>Age
            <th>Phone number
            <th>Email
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
            <td>{{ client.id }}
            <td>{{ client.name }}
            <td>{{ client.surname }}
            <td>{{ client.age }}
            <td>{{ client.phone_number }}
            <td>{{ client.email }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}