{% extends "templates/base.html" %}
{% load static %}

{% block content %}
    <h1>Welcome to Hotel Management System</h1>
    <div class="offer-container">
        <div class="offer-card">
            <img src="https://img.freepik.com/darmowe-zdjecie/luksusowy-klasyczny-nowoczesny-apartament-w-hotelu_105762-1787.jpg?t=st=1673740356~exp=1673740956~hmac=987254c43d1d6730d77c2722fbab410db1cd5bf4e393c57fdc0413178d0e6168"
                 alt="Offer 1">
            <h3>Luxury Room Offer</h3>
            <p>Experience luxury like never before with our special offer on luxury rooms.</p>
        </div>
        <div class="offer-card">
            <img src="https://cdn.loewshotels.com/loewshotels.com-2466770763/cms/cache/v2/5f5a6e0d12749.jpg/1920x1080/fit/80/86e685af18659ee9ecca35c465603812.jpg"
                 alt="Offer 2">
            <h3>Family Room Offer</h3>
            <p>Bring your loved ones together and save with our special offer on family rooms.</p>
        </div>
        <div class="offer-card">
            <img src="https://www.dakotahotels.co.uk/app/uploads/sites/9/2019/03/DSC_40212-1024x683.jpg"
                 alt="Offer 3">
            <h3>Suite Room Offer</h3>
            <p>Indulge in ultimate luxury and comfort with our special offer on Suite Rooms.</p>
        </div>
    </div>
{% endblock %}