<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Hotel Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
</header>
<div class="banner">
    <img src="https://i.pinimg.com/564x/34/c3/09/34c309d9be5a30b63777324f798f0b8d.jpg"
         alt="Hotel Banner">
    <div class="banner-content">
        <h2>Reservations list</h2>
        <p>list of all reservations</p>
    </div>
</div>
<div id="reservations">
  <div class="reservation">
    <img src="https://i.pinimg.com/564x/db/56/46/db5646f3e0dc56de39bc46312f605863.jpg" alt="Room 101">
    <p>Room: 101</p>
<!--    <p>Number of guests: 2</p>-->
<!--    <p>Price: $100</p>-->
<!--    <p>Date: 01/01/2022</p>-->
  </div>
  <div class="reservation">
    <img src="https://i.pinimg.com/564x/3e/ec/37/3eec376c0a87d6a426c3f3548190cc51.jpg" alt="Room 102">
    <p>Room: 102</p>
<!--    <p>Number of guests: 1</p>-->
<!--    <p>Price: $80</p>-->
<!--    <p>Date: 01/02/2022</p>-->
  </div>
  <div class="reservation">
    <img src="https://i.pinimg.com/564x/4c/24/46/4c2446ccbaa945f644a2fb2436ee2f93.jpg" alt="Room 103">
    <p>Room: 103</p>
<!--    <p>Number of guests: 3</p>-->
<!--    <p>Price: $120</p>-->
<!--    <p>Date: 01/03/2022</p>-->
  </div>
</div>