{% extends "templates/base.html" %}
{% load static %}
{% block content %}
    <div id="reservations">
        <div class="reservation">
            <img src="https://i.pinimg.com/564x/db/56/46/db5646f3e0dc56de39bc46312f605863.jpg" alt="Room 101">
            <p>Room: 101</p>
            <!--    <p>Number of guests: 2</p>-->
            <!--    <p>Price: $100</p>-->
            <!--    <p>Date: 01/01/2022</p>-->
        </div>
        <div class="reservation">
            <img src="https://i.pinimg.com/564x/3e/ec/37/3eec376c0a87d6a426c3f3548190cc51.jpg" alt="Room 102">
            <p>Room: 102</p>
            <!--    <p>Number of guests: 1</p>-->
            <!--    <p>Price: $80</p>-->
            <!--    <p>Date: 01/02/2022</p>-->
        </div>
        <div class="reservation">
            <img src="https://i.pinimg.com/564x/4c/24/46/4c2446ccbaa945f644a2fb2436ee2f93.jpg" alt="Room 103">
            <p>Room: 103</p>
            <!--    <p>Number of guests: 3</p>-->
            <!--    <p>Price: $120</p>-->
            <!--    <p>Date: 01/03/2022</p>-->
        </div>
    </div>
{% endblock %}