{% extends "templates/base.html" %}
{% block banner %}
 <h2>List of all rooms</h2>
        <p></p>
        <a href="#" class="btn">Book Now</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>ID
        <th>Name
        <th>Hotel name
        <th>Capacity
        <th>Type
        <th>Price
    </thead>
    <tbody>
{% for room in rooms %}
    <tr>
        <td>{{room.id}}
        <td>{{room.name}}
        <td>{{room.hotel.name}}
        <td>{{room.capacity}}
        <td>{{room.type}}
        <td>{{room.price}}
{% endfor %}
 </tbody>
    </table>
{% endblock %}
