{% extends "templates/base.html" %}
{% block banner %}
<h2>View reservations</h2>
<p></p>
<a href="#" class="btn">Book Now</a>
{% endblock %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>ID
        <th>Client id
        <th>First Name
        <th>Last Name
        <th>Check in
        <th>Check out
        <th>Room name
        <th>Number of people
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr>
        <td>{{reservation.id}}
        <td>{{reservation.client.id}}
        <td>{{reservation.client.name}}
        <td>{{reservation.client.surname}}
        <td>{{reservation.check_in}}
        <td>{{reservation.check_out}}
        <td>{{reservation.room.name}}
        <td>{{reservation.number_of_people}}
            {% endfor %}
    </tbody>
</table>
{% endblock %}